.container {
  display: grid;
  grid-template-columns: 1.2fr 1.7fr;
  grid-template-rows: 1.4fr 1.5fr;
  gap: 9px 10px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "Resources right"
    "Upgrades right";
}

.Resources {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Crystal"
    "Money"
    "Purity";
  grid-area: Resources;
}

.Crystal {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Image cookiecount";
  grid-area: Crystal;
}

.Image { grid-area: Image; margin-left: 30px; margin-top: 20px;}

.cookiecount {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "rate1";
  grid-area: cookiecount;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 40px;
  font-family: "Cotton Butter";
}

.rate1 { 
  grid-area: rate1; 
  margin-left: 0px;
  margin-top: 0px;
  font-size: 25px;
}

.Money {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Image2 moneycount";
  grid-area: Money;
}

.moneycount {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "rate2";
  grid-area: moneycount;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 40px;
  font-family: "Cotton Butter";
}

.rate2 {
  grid-area: rate2;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 25px;
 }

.Image2 { grid-area: Image2; margin-left: 30px; margin-top: 25px;}

.Purity {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Image3 qualitycount";
  grid-area: Purity;
}

.qualitycount {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "rate3";
  grid-area: qualitycount;
  margin-left: 50px;
  margin-top: 50px;
  font-family: "Cotton Butter";
  font-size: 40px;
}

.rate3 { 
  grid-area: rate3;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 25px;
 }

.Image3 { grid-area: Image3; }

.Upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(60px, 60px) 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "Buy Hire Upgrade Achievements"
    "Upgrade1 Text1 Text1 Text1"
    "Upgrade2 Text2 Text2 Text2"
    "Upgrade3 Text3 Text3 Text3"
    "Upgrade4 Text4 Text4 Text4"
    "Upgrade5 Text5 Text5 Text5"
    "Upgrade6 Text6 Text6 Text6";
  grid-area: Upgrades;
  font-family: "Cotton Butter";
  font-size: 25px;
  margin-left: 30px;
  overflow-y: scroll;
  margin-bottom: 15px;
}
.Upgrades::-webkit-scrollbar {
  display: none;
}

.Upgrades * {
  align-items: center;
  justify-content: center;
  display: grid;
  font-family: "Cotton Butter";
  border-style: solid; border-width: 2px; border-color: black;
}

.Upgrades:hover *{
  cursor: pointer;
}

.Buy { grid-area: Buy; background-color: #c58300;}

.Hire { grid-area: Hire; background-color: #805400}

.Upgrade { grid-area: Upgrade; background-color: #805400;}

.Upgrade1 { grid-area: Upgrade1; background-color: #268824;}

.Upgrade2 { grid-area: Upgrade2; background-color: #268824;}

.Achievements { grid-area: Achievements; background-color: #805400;}

.Upgrade3 { grid-area: Upgrade3; background-color: #268824;}

.Upgrade4 { grid-area: Upgrade4; background-color: #268824;}

.Upgrade5 { grid-area: Upgrade5; background-color: #268824;}

.Upgrade6 { grid-area: Upgrade6; background-color: #268824;}

.Text1 { grid-area: Text1; background-color: #000000; color: white; font-size: 25px;}

.Text2 { grid-area: Text2; background-color: #000000; color: white;}

.Text3 { grid-area: Text3; background-color: #000000; color: white;}

.Text4 { grid-area: Text4; background-color: #000000; color: white;}

.Text5 { grid-area: Text5; background-color: #000000; color: white;}

.Text6 { grid-area: Text6; background-color: #000000; color: white;}

.right {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
  gap: 16px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Dealer DealerDescription"
    "Baker1 Baker1Description"
    "Baker2 Baker2Description"
    "Baker3 Baker3Description"
    "Baker4 Baker4Description"
    "Baker5 Baker5Description";
  grid-area: right;
  overflow-y: auto;
  height: auto;
  margin-right: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 10px;
}

.right img {
  display:grid;
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

img:hover {
  cursor: pointer;
}

.Dealer { grid-area: Dealer;  border-style: solid; border-color: black; border-width: 0px; border-right-width: 0;}

#buyDealer, #buyBaker1 {
  background-color: #5a3300;
  border: none;
  height: 94px;
  width: 236px;
  float: right;
  margin-top: 22px;
  margin-right: 50px;
  font-size: 50px; 
  font-family: "Cotton Butter";
  line-height: 94px;
  color: #04B000;
}

.Baker1 { grid-area: Baker1; border-style: solid; border-color: black; border-width: 2px; border-right-width: 0;}

.Baker2 { grid-area: Baker2; border-style: solid; border-color: black; border-width: 2px; border-right-width: 0;}

.Baker3 { grid-area: Baker3; border-style: solid; border-color: black; border-width: 2px; border-right-width: 0;}

.Baker4 { grid-area: Baker4; border-style: solid; border-color: black; border-width: 2px; border-right-width: 0;}

.Baker5 { grid-area: Baker5; border-style: solid; border-color: black; border-width: 2px; border-right-width: 0;}

.DealerDescription { grid-area: DealerDescription; background-color: #805400; font-size: 72px; font-family: "Cotton Butter"; text-align: left; text-indent: 50px; border-style: solid; border-color: black; border-width: 2px;}

.Baker1Description { grid-area: Baker1Description; background-color: #805400; font-size: 72px; font-family: "Cotton Butter"; text-align: center;  border-style: solid; border-color: black; border-width: 2px;}

.Baker2Description { grid-area: Baker2Description; background-color: #805400; font-size: 72px; font-family: "Cotton Butter"; text-align: center;  border-style: solid; border-color: black; border-width: 2px;}

.Baker3Description { grid-area: Baker3Description; background-color: #805400; font-size: 72px; font-family: "Cotton Butter"; text-align: center;  border-style: solid; border-color: black; border-width: 2px;}

.Baker4Description { grid-area: Baker4Description; background-color: #805400; font-size: 72px; font-family: "Cotton Butter"; text-align: center;  border-style: solid; border-color: black; border-width: 2px;}

.Baker5Description { grid-area: Baker5Description; background-color: #805400; font-size: 72px; font-family: "Cotton Butter"; text-align: center;  border-style: solid; border-color: black; border-width: 2px;}


html, body , .container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */

.container * {
  position: relative;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/*
.container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

