@font-face {
  font-family: 'Cotton Butter';
  src: url('Cotton\ Butter.ttf') format('truetype');
}

.container {
  display: grid;
  grid-template-columns: 1.2fr 1.7fr;
  grid-template-rows: 1.4fr 1.5fr;
  gap: 9px 10px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "Resources right"
    "Upgrades right";
}

.Resources {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Crystal"
    "Money"
    "Purity";
  grid-area: Resources;
}

.Crystal {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Image cookiecount";
  grid-area: Crystal;
}

.Image { grid-area: Image; margin-left: 30px; margin-top: 20px;}

.cookiecount {
  display: inline-block;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "rate1";
  grid-area: cookiecount;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 40px;
  font-family: "Cotton Butter";
}

@-webkit-keyframes arrow-jump {
  0%   { opacity: 0;}
  100% { opacity: 1; 
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    }  
}

#arrow {
  margin-right: 10px;
  margin-left: -30px;
  color: green;
  -webkit-animation: arrow-jump 3s infinite;
  -moz-animation:    arrow-jump 3s infinite;
  animation:         arrow-jump 3s infinite;
}

.rate1 { 
  grid-area: rate1; 
  margin-left: 0px;
  margin-top: 0px;
  font-size: 25px;
}

.Money {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Image2 moneycount";
  grid-area: Money;
}

.moneycount {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "rate2";
  grid-area: moneycount;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 40px;
  font-family: "Cotton Butter";
}

.rate2 {
  grid-area: rate2;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 25px;
 }

.Image2 { grid-area: Image2; margin-left: 30px; margin-top: 25px;}

.Purity {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Image3 qualitycount";
  grid-area: Purity;
}

.qualitycount {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "rate3";
  grid-area: qualitycount;
  margin-left: 50px;
  margin-top: 50px;
  font-family: "Cotton Butter";
  font-size: 40px;
}

.rate3 { 
  grid-area: rate3;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 25px;
 }

.Image3 { grid-area: Image3; }

.Upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(60px, 60px) 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "Buy Hire Upgrade Achievements"
    "Buy1 Text1 Text1 Text1"
    "Buy2 Text2 Text2 Text2"
    "Buy3 Text3 Text3 Text3"
    "Buy4 Text4 Text4 Text4"
    "Buy5 Text5 Text5 Text5"
    "Upgrade6 Text6 Text6 Text6";
  grid-area: Upgrades;
  font-family: "Cotton Butter";
  font-size: 25px;
  margin-left: 30px;
  overflow-y: scroll;
  margin-bottom: 15px;
}

.Upgrades::-webkit-scrollbar {
  display: none;
}

.right::-webkit-scrollbar {
  display: none;
}

.Upgrades * {
  align-items: center;
  justify-content: center;
  display: grid;
  font-family: "Cotton Butter";
  border-style: solid; border-width: 2px; border-color: black;
}

.Upgrades:hover *{
  cursor: pointer;
}

.Buy { grid-area: Buy; background-color: #c58300;}

.Hire { grid-area: Hire; background-color: #805400}

.Upgrade { grid-area: Upgrade; background-color: #805400;}

.Achievements { grid-area: Achievements; background-color: #805400;}

.Buy1 { grid-area: Buy1; background-color: #268824;}

.Buy1:hover, .Buy2:hover, .Buy3:hover, .Buy4:hover, .Buy5:hover, .Hire1:hover, .Hire2:hover, .Hire3:hover, .Hire4:hover, .Hire5:hover, .Upgrade1:hover, .Upgrade2:hover, .Upgrade3:hover, .Upgrade4:hover, .Upgrade5:hover {
  background-color: lawngreen;
}

.Buy2 { grid-area: Buy2; background-color: #268824;}

.Buy3 { grid-area: Buy3; background-color: #268824;}

.Buy4 { grid-area: Buy4; background-color: #268824;}

.Buy5 { grid-area: Buy5; background-color: #268824;}

.Hire1 { background-color: #268824; grid-row: 2; grid-column: 1;}

.Hire2 { background-color: #268824; grid-row: 3; grid-column: 1;}

.Hire3 { background-color: #268824; grid-row: 4; grid-column: 1;}

.Hire4 { background-color: #268824; grid-row: 5; grid-column: 1;}

.Hire5 { background-color: #268824; grid-row: 6; grid-column: 1;}

.Upgrade1 { background-color: #268824; grid-row: 2; grid-column: 1;}

.Upgrade2 { background-color: #268824; grid-row: 3; grid-column: 1;}

.Upgrade3 { background-color: #268824; grid-row: 4; grid-column: 1;}

.Upgrade4 { background-color: #268824; grid-row: 5; grid-column: 1;}

.Upgrade5 { background-color: #268824; grid-row: 6; grid-column: 1;}

.Text1 { grid-area: Text1; background-color: #000000; color: white; font-size: 25px; display: inline;}

.Text2 { grid-area: Text2; background-color: #000000; color: white; display: inline;}

.Text3 { grid-area: Text3; background-color: #000000; color: white; display: inline;}

.Text4 { grid-area: Text4; background-color: #000000; color: white; display: inline;}

.Text5 { grid-area: Text5; background-color: #000000; color: white; display: inline;}

.Text6 { grid-area: Text6; background-color: #000000; color: white; display: inline !important;}

.LeftSpan {
  display: inline;
  margin-left: 60px;
}

.RightSpan {
  display: inline;
}

#rightSpan1 {
  margin-left: 150px;
}

#rightSpan2 {
  margin-left: 135px;
}

#rightSpan3 {
  margin-left: 125px;
}

#rightSpan4 {
  margin-left: 100px;
}

#rightSpan5 {
  margin-left: 95px;
}

#rightSpan6 {
  margin-left: 80px;
}

.right {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
  gap: 16px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Dealer DealerDescription"
    "Baker1 Baker1Description"
    "Baker2 Baker2Description"
    "Baker3 Baker3Description"
    "Baker4 Baker4Description"
    "Baker5 Baker5Description";
  grid-area: right;
  overflow-y: scroll;
  height: auto;
  margin-right: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 10px;
}

.right img {
  display:grid;
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

img:hover {
  cursor: pointer;
}

.Dealer { grid-area: Dealer;  border-style: solid; border-color: black; border-width: 0px; border-right-width: 0;}

#buyDealer, #buyBaker1, #buyBaker2, #buyBaker3, #buyBaker4, #buyBaker5 {
  background-color: #5a3300;
  border: none;
  height: 80px;
  width: 200px;
  float: right;
  margin-top: 30px;
  margin-right: 50px;
  font-size: 40px; 
  font-family: "Cotton Butter";
  line-height: 80px;
  color: #04B000;
}

#buyDealer:hover, #buyBaker1:hover, #buyBaker2:hover, #buyBaker3:hover, #buyBaker4:hover, #buyBaker5:hover {
  cursor: pointer;
}

.Baker1 { grid-area: Baker1; border-style: solid; border-color: black; border-width: 2px; border-right-width: 0;}

.Baker2 { grid-area: Baker2; border-style: solid; border-color: black; border-width: 2px; border-right-width: 0;}

.Baker3 { grid-area: Baker3; border-style: solid; border-color: black; border-width: 2px; border-right-width: 0;}

.Baker4 { grid-area: Baker4; border-style: solid; border-color: black; border-width: 2px; border-right-width: 0;}

.Baker5 { grid-area: Baker5; border-style: solid; border-color: black; border-width: 2px; border-right-width: 0;}

#baker1Amount, #baker2Amount, #baker3Amount, #baker4Amount, #baker5Amount, #recruiterAmount {
  font-family: "Cotton Butter";
  font-size: 24px;
  position: absolute;
  top: -0.2em;
  left: 5px;
}

.DealerDescription { grid-area: DealerDescription; background-color: #805400; font-size: 45px; font-family: "Cotton Butter"; vertical-align: middle; line-height: 135px; text-align: center; text-indent: 0px; border-style: solid; border-color: black; border-width: 2px;}

.Baker1Description { grid-area: Baker1Description; background-color: #805400; font-size: 45px; font-family: "Cotton Butter"; text-align: center; line-height: 135px; border-style: solid; border-color: black; border-width: 2px;}

.Baker2Description { grid-area: Baker2Description; background-color: #805400; font-size: 45px; font-family: "Cotton Butter"; text-align: center; line-height: 135px; border-style: solid; border-color: black; border-width: 2px;}

.Baker3Description { grid-area: Baker3Description; background-color: #805400; font-size: 45px; font-family: "Cotton Butter"; text-align: center; line-height: 135px; border-style: solid; border-color: black; border-width: 2px;}

.Baker4Description { grid-area: Baker4Description; background-color: #805400; font-size: 45px; font-family: "Cotton Butter"; text-align: center; line-height: 135px; border-style: solid; border-color: black; border-width: 2px;}

.Baker5Description { grid-area: Baker5Description; background-color: #805400; font-size: 45px; font-family: "Cotton Butter"; text-align: center; line-height: 135px; border-style: solid; border-color: black; border-width: 2px;}

html, body , .container {
  height: 100%;
  margin: 0;
}

.container * {
  position: relative;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/*
.container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
*/
