.container {
  display: grid;
  grid-template-columns: 1.2fr 1.7fr;
  grid-template-rows: 1.4fr 1.5fr;
  gap: 9px 10px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "Resources right"
    "Upgrades right";
}

.Resources {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Crystal"
    "Money"
    "Purity";
  grid-area: Resources;
}

.Crystal {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Image cookiecount";
  grid-area: Crystal;
}

.Image { grid-area: Image; margin-left: 30px; margin-top: 20px;}

.cookiecount {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "rate1";
  grid-area: cookiecount;
  margin-left: 80px;
  margin-top: 50px;
  font-size: 40px;
  font-family: "Cotton Butter";
}

.rate1 { 
  grid-area: rate1; 
  margin-left: 0px;
  margin-top: 0px;
  font-size: 25px;
}

.Money {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Image2 moneycount";
  grid-area: Money;
}

.moneycount {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "rate2";
  grid-area: moneycount;
  margin-left: 80px;
  margin-top: 50px;
  font-size: 40px;
  font-family: "Cotton Butter";
}

.rate2 {
  grid-area: rate2;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 25px;
 }

.Image2 { grid-area: Image2; margin-left: 30px;}

.Purity {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Image3 qualitycount";
  grid-area: Purity;
}

.qualitycount {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "rate3";
  grid-area: qualitycount;
  margin-left: 45px;
  margin-top: 50px;
  font-family: "Cotton Butter";
  font-size: 40px;
}

.rate3 { 
  grid-area: rate3;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 25px;
 }

.Image3 { grid-area: Image3; }

.Upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(10px, 40px) 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "Buy Hire Upgrade Achievements"
    "Upgrade1 Text1 Text1 Text1"
    "Upgrade2 Text2 Text2 Text2"
    "Upgrade3 Text3 Text3 Text3"
    "Upgrade4 Text4 Text4 Text4"
    "Upgrade5 Text5 Text5 Text5"
    "Upgrade6 Text6 Text6 Text6";
  grid-area: Upgrades;
  font-family: "Cotton Butter";
  font-size: 25px;
  margin-left: 30px;
}

.Upgrades * {
  margin: auto;
}

.Hire { grid-area: Hire; }

.Upgrade { grid-area: Upgrade; }

.Upgrade1 { grid-area: Upgrade1; }

.Upgrade2 { grid-area: Upgrade2; }

.Achievements { grid-area: Achievements; }

.Upgrade3 { grid-area: Upgrade3; }

.Upgrade4 { grid-area: Upgrade4; }

.Upgrade5 { grid-area: Upgrade5; }

.Upgrade6 { grid-area: Upgrade6; }

.Text1 { grid-area: Text1; }

.Text2 { grid-area: Text2; }

.Text3 { grid-area: Text3; }

.Text4 { grid-area: Text4; }

.Text5 { grid-area: Text5; }

.Text6 { grid-area: Text6; }

.Buy { grid-area: Buy; }

.right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
  gap: 16px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Dealer"
    "Baker1"
    "Baker2"
    "Baker3"
    "Baker4"
    "Baker5";
  grid-area: right;
}

.Dealer { grid-area: Dealer; }

.Baker1 { grid-area: Baker1; }

.Baker2 { grid-area: Baker2; }

.Baker3 { grid-area: Baker3; }

.Baker4 { grid-area: Baker4; }

.Baker5 { grid-area: Baker5; }


html, body , .container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below

.container * {
  border: 1px solid red;
  position: relative;
}

.container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

